@font-face {
  font-family: 'Exo2.0 Thin';
  src: url(../fonts/Exo2.0-Thin.otf);
}

*,
:before,
:after{
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', sans-serif;
  background: #000 url(../img/bg.jpg) repeat 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}