.page__main {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
}

.products {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.products__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products__title {
  font-family: $font-exo;
  margin-bottom: 22px;
  color: #fff;
  font-size: 36px;
  font-weight: 100;
  text-align: center;
}

.product {
  display: inline-block;
  max-width: 320px;
  margin-bottom: 40px;
  outline: none;

  &--available {
    &:hover {
      .product__card {
        @include product-card-gradient(30px, color(blue, light));
      }

      .product__weight {
        background-color: color(blue, light);
      }

      .product__buy-link {
        color: color(blue, light);
        border-bottom: 1px dashed color(blue, light);
      }
    }

    .product__card {
      cursor: pointer;
    }
  }

  &.product--checked {
    .product__card {
      @include product-card-gradient(30px, color(pink));
    }

    .product__weight {
      background-color: color(pink);
    }

    .product__header-available {
      display: none;
    }

    .product__header-selected {
      display: block;
    }

    &.product--selected {
      &:hover {
        .product__type-default {
          display: none;
        }

        .product__type-selected-hover {
          display: block;
        }

        .product__card {
          @include product-card-gradient(30px, color(pink, light));
        }

        .product__weight {
          background-color: color(pink, light);
        }
      }
    }
  }

  &--disabled {
    .product__card {
      @include product-card-gradient(30px, color(gray));
    }

    .product__inner {
      color: color(gray);
      @include product-card-gradient(28px, #f2f2f2);
    }

    .product__name {
      color: color(gray);
    }

    .product__taste {
      color: color(gray);
    }

    .product__bg {
      opacity: 0.5;
    }

    .product__weight {
      background-color: color(gray);
    }

    .product__header-available {
      display: none;
    }

    .product__header-disabled {
      display: block;
    }
  }

  @include media (ms) {
    margin-right: 20px;
    margin-left: 20px;
  }

  @include media (md) {
    margin-right: 40px;
    margin-left: 40px;
  }
}

.product__card {
  display: block;
  position: relative;
  width: 320px;
  height: 480px;
  border-radius: 12px;
  outline: none;
  @include product-card-gradient(30px, color(blue));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.product__inner {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 312px;
  height: 472px;
  padding: 18px 60px 20px 45px;
  color: #666;
  text-align: left;
  border-radius: 12px;
  @include product-card-gradient(28px, #fff);
}

.product__type {
  margin-bottom: 8px;
  font-size: 16px;
}

.product__type-selected-hover {
  display: none;
  color: color(pink, light);
}

.product__name {
  margin: 0 0 0 -2px;
  color: #000;
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
}

.product__taste {
  margin: 0;
  color: #000;
  font-size: 24px;
  font-weight: bold;
}

.product__promo {
  margin-top: 14px;
  font-size: 14px;
}

.product__bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 319px;
  height: 272px;
  background: url(../img/cat.png) no-repeat -4px 4px;
  border-radius: 12px;
}

.product__weight {
  position: absolute;
  bottom: 11px;
  right: 11px;
  height: 80px;
  width: 80px;
  color: #fff;
  font-size: 21px;
  text-align: center;
  background-color: color(blue);
  border-radius: 50%;
}

.product__weight-value {
  margin-top: 14px;
  font-size: 42px;
  line-height: 35px;
}

.product__header {
  margin-top: 14px;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.product__buy-link {
  color: color(blue);
  text-decoration: none;
  border-bottom: 1px dashed color(blue);
  cursor: pointer;
}

.product__header-selected {
  display: none;
}

.product__header-disabled {
  display: none;
  color: #ffff66;
}

