@font-face {
  font-family: 'Exo2.0 Thin';
  src: url(../fonts/Exo2.0-Thin.otf);
}

body {
  position: relative;
  font-family: 'Trebuchet MS', sans-serif;
  background: #000 url(../img/bg.jpg) repeat 0 0;
}

$font-stack: 'Exo2.0 Thin', sans-serif;

.page__main {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
}

.products {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.products__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products__title {
  font-family: $font-stack;
  margin-bottom: 22px;
  color: #fff;
  font-size: 36px;
  font-weight: 100;
  text-align: center;
}

.product__body {
  display: block;
  position: relative;
  width: 320px;
  height: 480px;
  border-radius: 12px;
  background-image: linear-gradient(135deg, transparent 30px, #1698d9 30px);
}

.product__weight {
  position: absolute;
  bottom: 12px;
  right: 12px;
  height: 80px;
  width: 80px;
  color: #ffffff;
  text-align: center;
  background-color: #1698d9;
  border-radius: 50%;
}

.product__weight-value {
  margin-top: 14px;
  font-size: 42px;
  line-height: 35px;
}

.product__weight-unit {
  font-size: 21px;
}

.product {
  display: inline-block;
  max-width: 320px;
  margin-bottom: 40px;

  &--available:hover {
    .product__body {
      background-image: linear-gradient(135deg, transparent 30px, #2ea8e6 30px);
    }

    .product__weight {
      background-color: #2ea8e6;
    }

    .product__header .link {
      color: #2ea8e6;
      border-bottom: 1px dashed #2ea8e6;
    }
  }

  &.product--checked {
    .product__body {
      background-image: linear-gradient(135deg, transparent 30px, #d91667 30px);
    }

    .product__weight {
      background-color: #d91667;
    }

    .product__header-available {
      display: none;
    }

    .product__header-selected {
      display: block;
    }

    &.product--selected {
      &:hover {
        .product__type-default {
          display: none;
        }

        .product__type-selected-hover {
          display: block;
        }

        .product__body {
          background-image: linear-gradient(135deg, transparent 30px, #e62e7a 30px);
        }

        .product__weight {
          background-color: #e62e7a;
        }
      }
    }
  }

  &--disabled {
    .product__body {
      background-image: linear-gradient(135deg, transparent 30px, #b3b3b3 30px);
    }

    .product__inner {
      color: #b3b3b3;
      background: linear-gradient(135deg, transparent 28px, #f2f2f2 30px);
    }

    .product__name {
      color: #b3b3b3;
    }

    .product__taste {
      color: #b3b3b3;
    }

    .product__bg {
      opacity: 0.5;
    }

    .product__weight {
      background-color: #b3b3b3;
    }

    .product__header-available {
      display: none;
    }

    .product__header-disabled {
      display: block;
    }
  }

  @include media (ms) {
    margin-right: 20px;
    margin-left: 20px;
  }

  @include media (md) {
    margin-right: 40px;
    margin-left: 40px;
  }
}

.js-check {
  .product__body {
    cursor: pointer;
  }
}

.product__inner {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 312px;
  height: 472px;
  padding: 17px 60px 20px 45px;
  color: #666;
  text-align: left;
  border-radius: 12px;
  background: linear-gradient(135deg, transparent 28px, #ffffff 30px);
}

.product__bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 319px;
  height: 272px;
  background: url(../img/cat.png) no-repeat 0 3px;
  border-radius: 12px;
}

.product__type {
  margin-bottom: 10px;
  font-size: 16px;
}

.product__type-selected-hover {
  display: none;
  color: #e62e7a;
}

.product__name {
  margin: 0;
  color: #000;
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
}

.product__taste {
  margin: 0;
  color: #000;
  font-size: 24px;
  font-weight: bold;
}

.product__promo {
  margin-top: 12px;
  font-size: 14px;
}

.product__header {
  margin-top: 14px;
  color: #ffffff;
  font-size: 13px;
  text-align: center;

  .link {
    color: #1698d9;
    text-decoration: none;
    border-bottom: 1px dashed #1698d9;
    cursor: pointer;
  }
}

.product__header-selected {
  display: none;
}

.product__header-disabled {
  display: none;
  color: #ffff66;
}

