@font-face {
  font-family: 'Exo2.0 Thin';
  src: url(../fonts/Exo2.0-Thin.otf);
}

body {
  position: relative;
  font-family: 'Trebuchet MS', sans-serif;
  background: #2d2d2d url(../img/bg.jpg) 0 0 repeat;
}

$font-stack: 'Exo2.0 Thin', sans-serif;

.out {
  display: flex;
  height: 100vh;
  align-items: center;
}

.products {
  max-width: 1230px;
  margin: auto;
  padding: 0 15px;
}

.products__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products__title {
  font-family: $font-stack;
  margin-bottom: 22px;
  color: #fff;
  font-size: 36px;
  font-weight: 100;
  text-align: center;
}

.product {
  display: inline-block;
  margin-bottom: 40px;

  &--small {
    .product__body {
      background-color: #1698d9;
    }

    .product__weight {
      background-color: #1698d9;
    }
  }

  &--medium {
    .product__body {
      background-color: #ff1d8e;
    }

    .product__weight {
      background-color: #ff1d8e;
    }
  }

  &--large {
    .product__body {
      background-color: #00b200;
    }

    .product__weight {
      background-color: #00b200;
    }
  }

  &--out-of-stock {
    .product__body {
      background-color: #444;

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(252, 252, 252, 0.6);
        border-radius: 10px;
      }
    }

    .product__weight {
      background-color: #444;
    }
  }

  &.selected {
    .product__body {
      background-color: yellow;
    }
  }

  @include media (ms) {
    margin-right: 20px;
    margin-left: 20px;
  }

  @include media (md) {
    margin-right: 40px;
    margin-left: 40px;
  }
}

.js-check {
  .product__body {
    cursor: pointer;
  }
}

.product__body {
  display: block;
  position: relative;
  width: 320px;
  height: 480px;
  border-radius: 10px;
  clip-path: polygon(46px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 46px);
}

.product__inner {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 312px;
  height: 472px;
  padding: 17px 60px 20px 45px;
  color: #666;
  text-align: left;
  background: #fff url(../img/cat.png) -5px 102% no-repeat;
  border-radius: 10px;
  clip-path: polygon(44px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 44px);
}

.product__type {
  margin-bottom: 10px;
  font-size: 16px;
}

.product__name {
  margin: 0;
  color: #000;
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
}

.product__taste {
  margin: 0;
  color: #000;
  font-size: 24px;
  font-weight: bold;
}

.product__promo {
  margin-top: 12px;
  font-size: 14px;
}

.product__weight {
  position: absolute;
  bottom: 12px;
  right: 12px;
  height: 80px;
  width: 80px;
  color: #ffffff;
  font-size: 21px;
  text-align: center;
  border-radius: 50%;
}

.product__weight div {
  margin-top: 19px;
  font-size: 42px;
  line-height: 30px;
}

.product__header {
  margin-top: 14px;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
}

